article,aside,figure,footer,header,hgroup,nav,section{display:block}

html{background:#99CCCC;color:#000000}
header{background-image:url(/img/BACK001.GIF);margin:0;padding:5px 0;}
h3{text-align:center;margin:0}
h2{text-align:center; margin:0; font-size:medium}
li{ padding: 3px; }
  #main {float: left; width: 60%}
  #CC{float: left; background:#d4efdf; width:25%; margin:5px 0; padding: 5px; display:none;}
  #UserCC{ display:none;}
  #UserCL{ display:none;}
  #FeleCL{ display:none;}
  #authPane { width:25%; overflow:hidden}
  #panePath { margin: 10px 0 10px 30%;}
  #ListPane { overflow-y: auto; height:300px;}  
  #notice { display:none; width:20%; overflow:hidden; position:absolute; bottom:5%; right:5%; background-color:white; padding: 5px; border: 1px; border-radius: 5px}
  #noticedu { display:none; width:20%; position:absolute; bottom:5%; right:50%; background-color:white; padding: 5px; border: 1px; border-radius: 5px}

article {color:black;padding:0;margin:0 auto; line-height:1.75em;word-spacing:0.1; text-align:center}
  #authInfo{color:green; padding:5px; font-weight:bold; font-size: large;}
  